<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product Information</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 20px;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 20px;
    }

    th, td {
      border: 1px solid #ccc;
      padding: 10px;
      text-align: left;
    }

    th {
      background-color: #f2f2f2;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    p {
      font-size: 18px;
      font-weight: bold;
    }
  </style>
</head>

<body>
  <p>
    Dear {{ firstname }} this is monthly report of yours
  <table>
    <thead>
      <tr>
        <th>Product Name</th>
        <th>Quantity</th>
        <th>Order Date</th>
        <th>Cost</th>
      </tr>
    </thead>
    <tbody>
      {% for product in products %}
        <tr>
          <td>{{ product.name }}</td>
          <td>{{ product.quantity }}</td>
          <td>{{ product.order_date }}</td>
          <td>Rs.{{ product.cost }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <p>Total Monthly Spend: Rs.{{ total_spend }}</p>
</body>

</html>
